.chart{
    #width: 80%;
    #height: 50vh;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 3px 3px 3px grey;
    background-color: #f9f9f9;
    padding: 5px;
    margin-left: 3px;
    margin-top: 20px;
}
.option_label{
    margin-left: 5px;
    margin-top: 15px;
}
.option_component{
    margin-top: 10px;
    float: left;
}
.option_log_text{
    font-size: 11px;
    #margin-left: 5px;
 }
.network_label{
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 2px;
    font-size: 10px;
    color: #5f9ea0;
    background-color: #ffffff;
}